<main role="main">
  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">About us</h1>
      <p class="lead text-muted text-left">We're the world's learning company, with expertise in educational courseware and assessment, and a range of teaching
        and learning services powered by technology. Our products and services are used by millions of teachers and learners
        around the world every day. Our mission is to help people make progress in their lives through learning — because
        we believe that learning opens up opportunities, creating fulfilling careers and better lives.
        <br/>
        <br/> Our more than 30,000 employees across 70 countries worldwide share a simple set of values. In everything we do,
        we aspire to be brave, imaginative, decent, and accountable. We work closely with teachers, learners, researchers,
        authors, thought leaders, and local experts to put education in the hands of more people around the world, in more
        inspiring ways. We value the power of difference, so we embed diversity and inclusion in everything we do.
        <br/>
        <br/> We foster a work environment that’s inclusive as well as diverse, where our people can be themselves. And we’re
        building a culture of innovation and learning where every idea and perspective is valued, so that our products reflect
        the people we serve — our teachers and learners.
      </p>
    </div>
  </section>
</main>