<main role="main">

  <section class="jumbotron text-center">
    <div class="container">
      <h1 class="jumbotron-heading">Features</h1>
      <p class="lead text-muted">Scout App is an interactive learning environment that enables Higher Education students to read, practice, and study in one continuous experience. It's learning reimagined.</p>
    </div>
  </section>

  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row">
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">

            <div class="card-body">
              <p class="card-text">Access list of notes/snapshots shared by teachers and students in gallery</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">

            <div class="card-body">
              <p class="card-text">Share your notes/images with other people by syncing your files with server</p>
       
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card mb-4 box-shadow">

            <div class="card-body">
              <p class="card-text">No need to update your app. Download once and use it forever.</p>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
